---
import CheckoutPanel from "../../islands/CheckoutPanel.svelte";

const { id } = Astro.params;
---
<html lang="en">
  <head>
    <title>Checkout {id}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <CheckoutPanel client:load projectId={id} />
  </body>
</html>
